@import "../../shared/colors";
@import "../../shared/breakpoints";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}

.midSection {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.mainHeading {
  display: inline-block;
  color: $boldBlue;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  font-size: 10vw;
  @media (max-width: $breakpointTablet) {
    font-size: 12vw;
  }
}

@mixin subheading {
  display: inline-block;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  font-size: 5vw;
  @media (max-width: $breakpointTablet) {
    font-size: 6vw;
    margin-top: 2vh;
  }
}

.subheading1 {
  @include subheading;
  color: $lightBlue;
  margin-left: 13vw;
}

.subheading2 {
  @include subheading;
  color: $greyBlue;
  margin-left: 26vw;
}

.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.iconsContainer {
  width: max-content;
  height: 100%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3vw;
  position: absolute;
}

.iconWrapper {
  color: $primaryYellow;
  margin-bottom: 30px;

  svg {
    font-size: 2.5vw;
    @media (max-width: $breakpointTablet) {
      font-size: 10vw;
    }
  }
}

.footerLine {
  outline: 1px solid $offWhite;
}
