@import "../../shared/colors";
@import "../../shared/breakpoints";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}

.listItem {
  display: flex;
  font-size: 2vw;
  list-style-type: none;
  color: $offWhite;
  margin-right: 3vw;
  margin-top: 3vw;

  @media (max-width: $breakpointTablet) {
    font-size: 6vw;
  }
}

.listItemFirstLetter {
  color: $primaryYellow;
}

.midSection {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.mainHeading {
  display: inline-block;
  color: $boldBlue;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  // font-weight: extra-bold;
  // font-style: italic;
  font-size: 12vw;
}

@mixin subheading {
  display: inline-block;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  font-size: 6vw;
  @media (max-width: $breakpointTablet) {
    margin-top: 2vh;
  }
}

.subheading1 {
  @include subheading;
  color: $lightBlue;
  margin-left: 13vw;
}

.subheading2 {
  @include subheading;
  color: $lightBlue;
  margin-left: 26vw;
  opacity: 0.5;
}

.footer {
  flex: 1;
  width: 100%;
}

.iconsContainer {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3vw;
}

.iconWrapper {
  color: $primaryYellow;
  margin-bottom: 30px;

  svg {
    font-size: 3vw;
    @media (max-width: $breakpointTablet) {
      font-size: 10vw;
    }
  }
}

.footerLine {
  height: 40px;
  border: 1px solid $offWhite;
  flex: 1;
}
