@import "../../shared/colors";
@import "../../shared/breakpoints";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}

.listItem {
  font-size: 2vw;
  list-style-type: none;
  color: $offWhite;
  margin-right: 3vw;
  margin-top: 3vw;
  @media (max-width: $breakpointTablet) {
    font-size: 6vw;
  }
}

.midSection {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.mainHeading {
  display: inline-block;
  color: $boldBlue;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  // font-weight: extra-bold;
  // font-style: italic;
  font-size: 12vw;
}

.subheading1 {
  display: inline-block;
  color: $lightBlue;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  font-size: 6vw;
  margin-left: 13vw;
}

.subheading2 {
  display: inline-block;
  color: $lightBlue;
  font-family: "Tomorrow", sans-serif;
  font-weight: regular;
  font-size: 6vw;
  margin-left: 26vw;
  opacity: 0.5;
}

.footer {
  flex: 1;
}
