@import "../../../shared/colors.module.scss";
@import "../../../shared/breakpoints";

.iconWrapper {
  color: $primaryYellow;
  margin-bottom: 30px;

  svg {
    font-size: 2.5vw;
    @media (max-width: $breakpointTablet) {
      font-size: 10vw;
    }
  }
}
