$blue: rgb(0, 187, 255);

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.mainSquare {
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.logoText {
  font-family: MyFont;
}

.borderedSquare {
  position: absolute;
  border: 1px solid #bfeaff;
  z-index: 2;
}

.fadedSquare {
  position: absolute;
  background: #41cff0;
  width: 100px;
  height: 100px;
  z-index: 1;
}
