$blue: rgb(0, 187, 255);

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.mainSquare {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.logoText {
  color: $blue;
}

.borderedSquare {
  position: absolute;
  border: 1px solid rgb(94, 94, 94);
  z-index: 2;
}

.fadedSquare {
  position: absolute;
  background: rgb(65, 65, 65);
  width: 100px;
  height: 100px;
  z-index: 1;
}
