$blue: rgb(0, 187, 255);

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.mainSquare {
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.borderedSquare {
  position: absolute;
  border: 1px solid white;
  z-index: 1;
}

.fadedSquare {
  background: yellow;
  opacity: 0.5;
}
