@import "../../shared/spacing.module.scss";

.pageContainer {
  width: 100%;
  height: calc(100vh - $topNavHeightLandscape);
  margin-top: $topNavHeightLandscape;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {

}
