@import "../../shared/_colors.module.scss";
@import "../../shared/spacing.module.scss";

.pageContainer {
  width: 100%;
  height: calc(100vh - $topNavHeightLandscape);
  margin-top: $topNavHeightLandscape;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {

}

.textRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.highlightedText {
  font-family: "Rock Salt";
  font-weight: bold;
  color: $boldBlue;
  font-size: 1.6em;
}

.textSegment {
  font-family: Roboto mono;
  color: $offWhite;
  font-size: 1.4em;
}

$textSpacing: 0.5em;
.spacingLeft {
  margin-left: $textSpacing;
}
.spacingRight {
  margin-right: $textSpacing;
}