$primaryBackground: #070d18;
$secondaryBackground: #11161f;

$offWhite: #e5e5e5;

$boldBlue: #00e0ff;
$lightBlue: #b6f2ff;
$greyBlue: #658492;

$primaryYellow: #fff500;

:export {
  primaryBackground: $primaryBackground;
  secondaryBackground: $secondaryBackground;
  offWhite: $offWhite;
  boldBlue: $boldBlue;
  lightBlue: $lightBlue;
  greyBlue: $greyBlue;
  primaryYellow: $primaryYellow;
}
