@import "../../shared/colors.module.scss";

$containerHeight: 45vh;

.container {
  height: $containerHeight;
  display: flex;
  margin: 50px 0;
}

.imageContainer {
  width: calc($containerHeight * 1.2);
  height: 100%;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
}

.infoContainer {
  width: calc($containerHeight * 1.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-family: "Tomorrow";
  color: $boldBlue;
  font-size: 4em;
}

.subtext {
  font-family: "Roboto Mono";
  color: $offWhite;
  font-size: 1.5em;
  text-align: right;
}

.bodyTextContainer {
  background: linear-gradient(45deg, $gradient2, $gradient3);
  width: 102%;
  text-align: right;
  flex: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  opacity: 0.85;
}

.tools {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.tool {
  color: $offWhite;
  text-decoration: none;
}

.toolSeparator {
  display: inline;
  color: $greyBlue;
  font-size: 2rem;
}
