@import "../../shared/spacing.module";

.pageContainer {
  width: 100%;
  height: calc(100vh - $topNavHeightLandscape);
  padding-top: $topNavHeightLandscape;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shapeContainer {
  width: 300px;
  height: 300px;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
