@import "../../shared/_colors.module.scss";
@import "../../shared/_breakpoints";

.listItem {
  display: flex;
  font-size: 2vw;
  list-style-type: none;
  color: $offWhite;
  margin-right: 3vw;
  font-family: "Roboto Mono";
  cursor: pointer;
  height: max-content;

  @media (max-width: $breakpointTablet) {
    font-size: 5vw;
    margin-right: 4vw;
  }
}

.textContainer {
  position: relative;
  display: flex;
}

.clickArea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.listItemFirstLetter {
  color: $primaryYellow;
  font-family: "Roboto Mono";
  font-weight: 600;
}
