// Tomorrow: thin | light | regular | extra-bold italic
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,300;0,400;1,800&display=swap");
// Roboto Mono: regular | semi-bold
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

@import "./shared/colors";

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: $primaryBackground;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
