@import "../shared/colors";

container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 12vw;
  margin-bottom: 50px;
  color: $offWhite;
  font-family: "Tomorrow", sans-serif;
  font-weight: extra-bold;
  font-style: italic;
}

.subheading {
  text-align: center;
  font-size: 8vw;
  color: $offWhite;
  font-family: "Tomorrow", sans-serif;
}
