.workTextContainer {
  border: 1px solid pink;
}
.jakeTextContainerLeft {
  border: 1px solid green;
}
.jakeTextContainerRight {
  border: 1px solid blue;
}
.techTextContainer {
  border: 1px solid red;
}
