@import "../../shared/_colors.scss";

.imageContainer {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(148, 226, 255, 0.1);
}

.image {
  position: absolute;
  width: 92%;
}

$cornerBorderWidth: 1px;
$cornerLength: calc(3vw - $cornerBorderWidth);

.cornerBorderTopRight {
  position: absolute;
  top: 0;
  right: 0;
  width: $cornerLength;
  height: $cornerLength;
  border-top: $cornerBorderWidth solid $boldBlue;
  border-right: $cornerBorderWidth solid $boldBlue;
}

.cornerBorderBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $cornerLength;
  height: $cornerLength;
  border-bottom: $cornerBorderWidth solid $boldBlue;
  border-left: $cornerBorderWidth solid $boldBlue;
}
