.flipCardContainerLandscape {
  width: 30%;
  max-height: 40%;
  aspect-ratio: 1 / 1;
}

.flipCardContainerPortrait {
  width: 70%;
  height: 90%;
}

.contentCardText {
  font-family: "Roboto Mono";
  text-align: center;
  font-size: 130%;
}
