@mixin defaults {
  position: absolute;
}

@mixin workTextContainer {
  border: 1px solid pink;
}
@mixin jakeTextContainerLeft {
  border: 1px solid green;
}
@mixin jakeTextContainerRight {
  border: 1px solid blue;
}
@mixin techTextContainer {
  border: 1px solid red;
}

.workTextContainerLandscape {
  border: 1px solid pink;
  position: absolute;
  right: 5vw;
  width: 60vw;
  height: 95%;
}

.workTextContainerPortrait {
  border: 1px solid pink;
  @include defaults;
  position: absolute;
  bottom: 5vh;
  // TODO: Make sure pictures have max-width/height to match with these
  height: 60%;
  width: 100%;
}
