@import "../../shared/_colors.scss";

.imageContainer {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(148, 226, 255, 0.1);
}

.image {
  position: absolute;
  width: 90%;
}

$cornerSize: calc(3vw - 1px);

.cornerBorderTopRight {
  position: absolute;
  top: 0;
  right: 0;
  width: $cornerSize;
  height: $cornerSize;
  border-top: 1px solid $boldBlue;
  border-right: 1px solid $boldBlue;
}

.cornerBorderBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $cornerSize;
  height: $cornerSize;
  border-bottom: 1px solid $boldBlue;
  border-left: 1px solid $boldBlue;
}
