@mixin area-defaults {
  position: absolute;
}

.textContainerLeftLandscape {
  border: 1px solid gold;
  position: absolute;
  left: 5vw;
  width: 28vw;
  height: 95%;
}

.textContainerLeftPortrait {
  border: 1px solid gold;
  @include area-defaults;
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
}

.textContainerRightLandscape {
  border: 1px solid yellow;
  position: absolute;
  right: 5vw;
  width: 28vw;
  height: 95%;
}

.textContainerRightPortrait {
  border: 1px solid yellow;
  @include area-defaults;
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}
