.rowsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  :last-child {
    margin-bottom: 0
  }
}
.row {
  outline: 1px solid green;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
}

.flipCardContainerLandscape {
  max-width: 30vh;
  width: 30%;
  aspect-ratio: 1 / 1;
}

.flipCardContainerLandscapeSmall {
  max-width: 30vh;
  width: 15%;
  aspect-ratio: 1 / 1;
}


.flipCardContainerPortrait {
  width: 70%;
  height: 90%;
}

.contentCardText {
  font-family: "Roboto Mono";
  text-align: center;
  font-size: 130%;
}
