@import "../../shared/_colors.module.scss";

.containerLandscape {
  position: relative;
  width: 130px;
  height: 130px;
}

.containerPortrait {
  position: relative;
  width: 25%;
  aspect-ratio: 1;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $boldBlue;
  transform: rotateY(180deg);
}

.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background: $boldBlue;
}
